## Import Libraries

In [1]:
import numpy as np
import pandas as pd
%matplotlib notebook
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.sparse import csr_matrix, csc_matrix, hstack, save_npz, load_npz

from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import normalize

from sklearn.neighbors import KNeighborsClassifier

## Load Raw Data

### Warning!: Data is Heavy

In [307]:
# using converters parameter to read strings as lists or dictionaries
credits_df = pd.read_csv("credits.csv", low_memory=False, converters={"cast": eval, "crew": eval})
keywords_df = pd.read_csv("keywords.csv", low_memory=False, converters={"keywords": eval})
links_df = pd.read_csv("links.csv")

In [308]:
def eval_with_nan(x):
    if x:
        return eval(x)
    else:
        return None
    
movies_df = pd.read_csv("movies_metadata.csv", low_memory=False, converters={"production_companies": eval_with_nan, "genres": eval})

## Explore Data

### credits_df

In [309]:
credits_df.memory_usage()

Index       128
cast     363808
crew     363808
id       363808
dtype: int64

In [310]:
credits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [311]:
credits_df["cast"][34][3]

{'cast_id': 6,
 'character': 'Gerald Brenan',
 'credit_id': '52fe471bc3a36847f8123ab5',
 'gender': 2,
 'id': 54447,
 'name': 'Samuel West',
 'order': 3,
 'profile_path': '/yIDXDpgXxPbl5qWu8KHV7fGzVNr.jpg'}

In [312]:
credits_df["crew"][0][0] #director

{'credit_id': '52fe4284c3a36847f8024f49',
 'department': 'Directing',
 'gender': 2,
 'id': 7879,
 'job': 'Director',
 'name': 'John Lasseter',
 'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'}

### Movies_df

In [313]:
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [314]:
movies_df[movies_df["original_title"].str.contains("Star Wars")]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
256,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,11,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,...,1977-05-25,7.753980e+08,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0
2514,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",115000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,1893,tt0120915,en,Star Wars: Episode I - The Phantom Menace,"Anakin Skywalker, a young slave strong with th...",...,1999-05-19,9.243176e+08,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a legend. Every journey h...,Star Wars: Episode I - The Phantom Menace,False,6.4,4526.0
5244,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",120000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,1894,tt0121765,en,Star Wars: Episode II - Attack of the Clones,"Ten years after the invasion of Naboo, the gal...",...,2002-05-15,6.493983e+08,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Jedi Shall Not Know Anger. Nor Hatred. Nor L...,Star Wars: Episode II - Attack of the Clones,False,6.4,4074.0
10069,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",113000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.starwars.com/films/star-wars-episod...,1895,tt0121766,en,Star Wars: Episode III - Revenge of the Sith,"Years after the onset of the Clone Wars, the n...",...,2005-05-17,8.500000e+08,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The saga is complete.,Star Wars: Episode III - Revenge of the Sith,False,7.1,4200.0
12885,False,NaN,8500000,"[{'id': 53, 'name': 'Thriller'}, {'id': 16, 'n...",http://www.starwars.com/clonewars/site/index.html,12180,tt1185834,en,Star Wars: The Clone Wars,Set between Episode II and III the Clone Wars ...,...,2008-08-05,6.828284e+07,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Star Wars: The Clone Wars,False,5.8,434.0
15453,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,76180,tt0416716,en,Empire of Dreams: The Story of the Star Wars T...,Empire of Dreams: The Story of the Star Wars T...,...,2004-09-12,0.000000e+00,151.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Empire of Dreams: The Story of the Star Wars T...,False,7.1,22.0
26555,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,...,2015-12-15,2.068224e+09,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.5,7993.0
30434,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,74849,tt0193524,en,The Star Wars Holiday Special,Luke Skywalker and Han Solo battle evil Imperi...,...,1978-12-01,0.000000e+00,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A long time ago, in a galaxy far, far away...",The Star Wars Holiday Special,False,3.2,81.0
30904,False,"{'id': 141748, 'name': 'Robot Chicken: Star Wa...",0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,42979,tt1020990,en,Robot Chicken: Star Wars,"Fans of Adult Swim's ""Robot Chicken"" and the S...",...,2007-07-17,0.000000e+00,23.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Spend Father's Day with who really raised you....,Robot Chicken: Star Wars,True,6.9,58.0
35833,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.plasticgalaxymovie.com/,253150,tt3648510,en,Plastic Galaxy: The Story of Star Wars Toys,Plastic Galaxy explores the ground breaking an...,...,2014-01-15,0.000000e+00,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Story of Star Wars Toys,Plastic Galaxy: The Story of Star Wars Toys,False,6.4,9.0
41489,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/rogue-one,330459,tt3748528,en,Rogue One: A Star Wars Story,A rogue band of resistance fighters unite for ...,...,2016-12-14,1.056057e+09,133.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Rebellion Built on Hope,Rogue One: A Star Wars Story,False,7.4,5111.0

In [315]:
movies_df["original_language"].value_counts()[:10]

en    32269
fr     2438
it     1529
ja     1350
de     1080
es      994
ru      826
hi      508
ko      444
zh      409
Name: original_language, dtype: int64

In [316]:
movies_df["overview"][34]

"The story of the relationship between painter Dora Carrington and author Lytton Strachey in a World War One England of cottages and countryside. Although platonic due to Strachey's homosexuality, the relationship was nevertheless a deep and complicated one. When Carrington did develop a more physical relationship with soldier Ralph Partridge, Strachey was able to welcome him as a friend, although Partridge remained somewhat uneasy, not so much with Strachey's lifestyle and sexual orientation as with the fact that he was a conscientious objector."

In [317]:
movies_df["tagline"][24]

'I Love You... The Way You Are.'

In [318]:
plt.figure()
movies_df["vote_average"].hist()

In [319]:
movies_df[movies_df["vote_average"] < 5].head(50)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
36,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",NaN,139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",...,1995-10-20,0.0,51.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...",Released,NaN,Across the Sea of Time,False,3.5,2.0
55,False,NaN,0,[],NaN,124057,tt0113541,en,Kids of the Round Table,"Set in modern times, Alex finds King Arthur's ...",...,1997-07-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Kids of the Round Table,False,3.0,1.0
63,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,19760,tt0118002,en,Two If by Sea,"Frank O'Brien, a petty thief, and his 7-year-l...",...,1996-01-12,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A new comedy about love, laughter, and larceny",Two If by Sea,False,4.5,14.0
64,False,NaN,15000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,9536,tt0115683,en,Bio-Dome,Bud and Doyle are two losers who are doing not...,...,1996-01-12,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Bud and Doyle are here to save the world. But ...,Bio-Dome,False,4.4,110.0
65,False,"{'id': 124935, 'name': 'The Lawnmower Man Coll...",0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,11525,tt0116839,en,Lawnmower Man 2: Beyond Cyberspace,Jobe is resuscitated by Jonathan Walker. He wa...,...,1996-01-12,2409225.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,God made him simple. Science made him a god. N...,Lawnmower Man 2: Beyond Cyberspace,False,2.8,32.0
70,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,11859,tt0113010,en,Fair Game,Max Kirkpatrick is a cop who protects Kate McQ...,...,1995-11-03,11534477.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,He's a cop on the edge. She's a woman with a d...,Fair Game,False,4.1,54.0
74,False,NaN,15000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,36929,tt0115676,en,Big Bully,A writer returns to his hometown where he face...,...,1996-01-26,2042530.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A comedy for the kid in all of us.,Big Bully,False,3.9,16.0
82,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,146599,tt0114039,en,Once Upon a Time... When We Were Colored,This film relates the story of a tightly conne...,...,1996-01-26,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Once Upon a Time... When We Were Colored,False,4.5,2.0
83,False,NaN,0,[],NaN,188588,tt0113612,en,Last Summer in the Hamptons,"Filmed entirely on location in East Hampton, L...",...,1995-11-22,0.0,108.0,[],Released,NaN,Last Summer in the Hamptons,False,0.0,0.0
91,False,NaN,14000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12158,tt0114825,en,Vampire in Brooklyn,"Maximillian, the lone survivor of a race of va...",...,1995-10-26,19800000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A comic tale of horror and seduction.,Vampire in Brooklyn,False,4.5,113.0
100,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,47475,tt0117102,en,Mr. Wrong,A single and lonely woman finds the seemingly ...,...,1996-02-16,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Mr. Wrong,False,3.3,16.0
107,False,NaN,0,"[{'id': 80, 'name': 'Crime'}]",NaN,96357,tt0113276,en,Headless Body in Topless Bar,An ex-con holds a group of people hostage in a...,...,1995-05-20,0.0,110.0,[],Released,NaN,Headless Body in Topless Bar,False,0.0,0.0
124,False,"{'id': 91430, 'name': 'The Neverending Story C...",17000000,"[{'id': 14, 'name': 'Fantasy'}]",NaN,27793,tt0110647,en,The NeverEnding Story III,A young boy must restore order when a group of...,...,1994-10-26,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's a brand new beginning in the adventure th...,The Neverending Story III: Escape from Fantasia,False,4.4,105.0
125,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,44284,tt0111055,ar,صمت القصور,The death of a prince brings a young woman bac...,...,1994-09-30,0.0,116.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,NaN,The Silences of the Palace,False,4.3,3.0
126,False,NaN,0,[],NaN,290157,tt0110217,en,Jupiter's Wife,"Michel Negroponte, a documentary filmmaker, me...",...,1995-01-01,0.0,87.0,[],Released,A Haunting Real Life Mystery,Jupiter's Wife,False,0.0,0.0
132,False,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 99, 'n...",NaN,124636,tt0114500,en,Sonic Outlaws,Within days after the release of Negativland's...,...,1995-08-01,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Sonic Outlaws,False,0.0,0.0
135,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,5757,tt0113756,en,Man of the Year,First-time director Dirk Shafer also penned th...,...,1995-09-15,209935.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He as a centerfold who revealed everything ......,Man of the Year,False,3.8,2.0
137,False,NaN,0,[],NaN,124639,tt0114618,en,Target,A subtle yet violent commentary on feudal lords.,...,1995-08-01,0.0,122.0,[],Released,NaN,Target,False,0.0,0.0
164,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,259209,tt0113044,en,Feast of July,After an abandoned young woman in late 19th Ce...,...,1995-10-12,0.0,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There is no escape from the past.,Feast of July,False,0.0,0.0
171,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,19326,tt0113500,en,Jury Duty,When jobless Tommy Collins discovers that sequ...,...,1995-04-12,17014653.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,For truth. For justice. For five bucks a day.,Jury Duty,False,4.0,34.0
190,False,"{'id': 247294, 'name': 'Showgirls Collection',...",45000000,"[{'id': 18, 'name': 'Drama'}]",NaN,10802,tt0114436,en,Showgirls,A young drifter named Nomi arrives in Las Vega...,...,1995-09-22,20350754.0,128.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Beyond your wildest dreams. Beyond your wildes...,Showgirls,False,4.9,261.0
197,False,NaN,14000000,"[{'id': 53, 'name': 'Thriller'}]",NaN,79593,tt0114666,en,The Tie That Binds,John Netherwood and his wife Leann are fugitiv...,...,1995-09-08,5780000.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Tie That Binds,False,4.6,9.0
209,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,26258,tt0112602,en,Bushwhacked,A inept courier realises he has been used by c...,...,1995-08-04,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,They wanted a great adventure. What they got w...,Bushwhacked,False,4.9,29.0
214,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,37141,tt0112438,en,The Babysitter,Jennifer (Alicia Silverstone) is a lovely teen...,...,1995-10-17,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Something about her captures the imagination.,The Babysitter,False,4.7,27.0
222,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,61813,tt0112899,en,Dream Man,Kris is a homicide cop with psychic abilities....,...,1995-01-01,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dream Man,False,2.5,1.0
230,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 35, 'n...",NaN,18395,tt0109758,en,Exit to Eden,Elliot is going to the island of Eden to live ...,...,1994-10-14,6841570.0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"To crack this case, these two cops will have t...",Exit to Eden,False,4.3,28.0
239,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,47867,tt0113199,en,Gordy,A talking pig named Gordy becomes involved in ...,...,1995-05-12,3992809.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The talking pig who made it big!,Gordy,False,3.0,4.0
251,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,18713,tt0110189,en,The Jerky Boys,When two unemployed telephone pranksters decid...,...,1995-02-03,0.0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Jerky Boys,False,4.8,10.0
252,False,NaN,60000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,6280,tt0110216,en,Junior,"As part of a fertility research project, a mal...",...,1994-11-22,37000000.0,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing is inconceivable,Junior,False,4.7,381.0
254,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,37108,tt0113538,en,A Kid in King Arthur's Court,A Southern California kid named Calvin Fuller ...,...,1995-08-11,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Joust Do It.,A Kid in King Arthur's Court,False,4.3,40.0
266,False,NaN,60000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,43742,tt0110391,en,Love Affair,Ex-football star Mike Gambril meets Terry McKa...,...,1994-10-21,0.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Love Affair,False,4.3,11.0
280,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,109560,tt0117169,en,New York Cop,"Allegedly based on a true story, this film fol...",...,1993-08-14,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The toughest city in the world deserves the to...,New York Cop,False,0.0,0.0
281,False,NaN,4800000,"[{'id': 27, 'name': 'Horror'}]",NaN,56428,tt0106402,en,Beyond Bedlam,An experiment gone awry places a neurologist (...,...,1994-04-22,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Psychological Terror Beyond Your Wildest Night...,Beyond Bedlam,False,4.0,4.0
282,False,"{'id': 286948, 'name': 'Nemesis Collection', '...",0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63105,tt0113948,en,Nemesis 2 - Nebula,It has been 73 years since Alex failed and the...,...,1995-09-26,0.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Future Just Got Darker,Nemesis 2 - Nebula,False,4.6,10.0
287,False,"{'id': 48188, 'name': 'Poison Ivy Collection',...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,18220,tt0114151,en,Poison Ivy II: Lily,A young and naive college art student becomes ...,...,1996-01-16,0.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Passion. Seduction. Betrayal. Lily wanted to b...,Poison Ivy II: Lily,False,4.6,32.0
307,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 18, 'nam...",NaN,92769,tt0110965,en,Relative Fear,Linda and Peter Pratman's son Adam is autistic...,...,1995-10-03,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Trusting your children can be deadly.,Relative Fear,False,4.7,3.0
370,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,49803,tt0111054,en,Safe Passage,A mother with seven sons feels like she's losi...,...,1994-12-01,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Life's best journeys take you home,Safe Passage,False,4.9,7.0
379,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,40480,tt0112443,en,Bad Company,Nelson Crowe is a CIA operative under the thum...,...,1995-01-20,0.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Bribery. Blackmail. Murder. Specialities of th...,Bad Company,False,4.9,12.0
383,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,39953,tt0112570,en,"Boys Life: Three Stories of Love, Lust, and Li...",Each of the three short films in this collecti...,...,1994-09-30,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"3 Tales of Love, Lust, & Liberation","Boys Life: Three Stories of Love, Lust, and Li...",False,2.0,1.0
388,False,"{'id': 261203, 'name': 'Street Fighter', 'post...",35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,11667,tt0111301,en,Street Fighter,Col. Guile and various other martial arts hero...,...,1994-12-22,99423521.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The fight to save the world is on!,Street Fighter,False,4.1,330.0
390,False,NaN,0,[],NaN,267188,tt0112849,en,Desert Winds,Jackie and Eugene are joined by a mystical win...,...,1997-12-31,0.0,97.0,[],Released,It began with a whisper,Desert Winds,False,0.0,0.0
392,False,"{'id': 439409, 'name': 'Fear Collection', 'pos...",0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,75555,tt0113043,en,The Fear,A weekend of 'fear therapy' turns into a night...,...,1995-01-20,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He's whatever scares you the most,The Fear,False,3.4,7.0
395,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,291731,tt0113319,en,Homage,The young caretaker at the estate of a reclusi...,...,1995-05-03,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He would sacrifice everything for her...even her.,Homage,False,0.0,0.0
396,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,226229,tt0113827,en,Mirage,Matteo Juarez is a retired detective hired by ...,...,1995-11-21,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Love is the deadliest illusion.,Mirage,False,4.0,1.0
397,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,203119,tt0114047,en,Open Season,When the television ratings machines suddenly ...,...,1996-05-03,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Open Season,False,0.0,0.0
399,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,316098,tt0109339,en,Brother Minister: The Assassination of Malcolm X,Brother Minister reveals the mystery surroundi...,...,1995-03-01,0.0,115.0,[],Released,NaN,Brother Minister: The Assassination of Malcolm X,False,4.0,1.0
400,False,"{'id': 8050, 'name': 'Highlander Collection', ...",26000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,8011,tt0110027,en,Highlander III: The Sorcerer,"Starts off in the 15th century, with Connor Mc...",...,1994-11-29,36800000.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Throughout time they have hunted each other fu...,Highlander: The Final Dimension,False,4.5,110.0
406,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,38129,tt0111804,en,Martin Lawrence: You So Crazy,"Stand up comedy by Martin Lawrence, filmed in ...",...,1994-04-27,0.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Uncut. Unrated. Unbelievably Funny.,Martin Lawrence: You So Crazy,False,4.5,4.0
410,False,"{'id': 162028, 'name': 'Stakeout Collection', ...",0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,9409,tt0106292,en,Another Stakeout,Chris and Bill are called upon for their excel...,...,1993-07-22,0.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"They're on the look out for thrills, action an...",Another Stakeout,False,4.9,58.0
411,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,11853,tt0109198,en,Bad Girls,Four former harlots try to leave the wild west...,...,1994-04-22,15240435.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,It was a dangerous time to be a woman. And a g...,Bad Girls,False,4.6,61.0

In [320]:
movies_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [321]:
movies_df[["popularity", "poster_path", "production_companies", "production_countries"]]

,popularity,poster_path,production_companies,production_countries
0,21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
1,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o..."
2,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o..."
3,3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o..."
4,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o..."
...,...,...,...,...
45461,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]"
45462,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]"
45463,0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
45464,0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]"
45465,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"

In [322]:
movies_df["production_companies"][0][0]["name"]

'Pixar Animation Studios'

In [323]:
movies_df["belongs_to_collection"]

0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                      NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                      NaN
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45461                                                  NaN
45462                                                  NaN
45463                                                  NaN
45464                                                  NaN
45465                                                  NaN
Name: belongs_to_collection, Length: 45466, dtype: object

### keywords_df

In [324]:
keywords_df.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [325]:
keywords_df["keywords"][0]

[{'id': 931, 'name': 'jealousy'},
 {'id': 4290, 'name': 'toy'},
 {'id': 5202, 'name': 'boy'},
 {'id': 6054, 'name': 'friendship'},
 {'id': 9713, 'name': 'friends'},
 {'id': 9823, 'name': 'rivalry'},
 {'id': 165503, 'name': 'boy next door'},
 {'id': 170722, 'name': 'new toy'},
 {'id': 187065, 'name': 'toy comes to life'}]

## Data Cleaning

### Process Movies df

In [326]:
movies_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

#### Thresh by vote average by value 5

In [329]:
movies_df = movies_df[movies_df["vote_average"] > 5.5]

In [330]:
movies_df.shape

(28860, 24)

#### Thresh by vote count by value 10

In [331]:
movies_df = movies_df[movies_df["vote_count"] > 50]

In [332]:
movies_df.shape

(7440, 24)

#### drop unnecessary columns

In [333]:
drop_cols = ["adult", "imdb_id", "belongs_to_collection", "production_countries", "homepage", "poster_path", 
             "video", "status", "spoken_languages"]

movies_df.drop(columns=drop_cols, axis=1, inplace=True)

#### fill nan values

In [334]:
movies_df.isnull().sum()

budget                     0
genres                     0
id                         0
original_language          0
original_title             0
overview                  24
popularity                 0
production_companies       0
release_date               1
revenue                    0
runtime                    1
tagline                 1707
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [335]:
mean_fillna = ["runtime"]
for c in mean_fillna:
    movies_df[c].fillna(movies_df[c].mean(), inplace=True)

In [336]:
movies_df["original_language"].value_counts().idxmax()

'en'

In [337]:
most_frequent_fillna = ["original_language", "release_date"]
for c in most_frequent_fillna:
    frequent = movies_df[c].value_counts().idxmax()
    movies_df[c].fillna(frequent, inplace=True)

In [338]:
# fill with empty string
fill_empty = ["overview", "tagline"]
for c in fill_empty:
    movies_df[c].fillna("", inplace=True)

In [339]:
movies_df.head(2)

,budget,genres,id,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,tagline,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,,Toy Story,7.7,5415.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0

In [340]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7440 entries, 0 to 45437
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                7440 non-null   object
 1   genres                7440 non-null   object
 2   id                    7440 non-null   object
 3   original_language     7440 non-null   object
 4   original_title        7440 non-null   object
 5   overview              7440 non-null   object
 6   popularity            7440 non-null   object
 7   production_companies  7440 non-null   object
 8   release_date          7440 non-null   object
 9   revenue               7440 non-null   float64
 10  runtime               7440 non-null   float64
 11  tagline               7440 non-null   object
 12  title                 7440 non-null   object
 13  vote_average          7440 non-null   float64
 14  vote_count            7440 non-null   float64
dtypes: float64(4), object(11)
memory usage: 930.0+ KB

#### Production Companies

In [341]:
movies_df["production_companies"] = movies_df["production_companies"].apply(lambda x: "" if not x else x[0]["name"])

#### genres

In [342]:
#convert to genres list
movies_df["genres"] = movies_df["genres"].apply(lambda x: [] if not x else [i["name"] for i in x])

#### converting to float

In [343]:
to_float = ["budget", "popularity"]
movies_df[to_float] = movies_df[to_float].astype(float)

#### Date to Year

In [344]:
movies_df["release_date"] = movies_df["release_date"].apply(lambda x: int(x[:4]))

#### id to int

In [345]:
movies_df["id"] = movies_df["id"].astype(int)

In [346]:
movies_df.head(2)

,budget,genres,id,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,tagline,title,vote_average,vote_count
0,30000000.0,"[Animation, Comedy, Family]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,1995,373554033.0,81.0,,Toy Story,7.7,5415.0
1,65000000.0,"[Adventure, Fantasy, Family]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures,1995,262797249.0,104.0,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0

### Process credits df

In [347]:
credits_df.isnull().sum()

cast    0
crew    0
id      0
dtype: int64

In [348]:
credits_df.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [349]:
credits_df["crew"][0]

[{'credit_id': '52fe4284c3a36847f8024f49',
  'department': 'Directing',
  'gender': 2,
  'id': 7879,
  'job': 'Director',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f4f',
  'department': 'Writing',
  'gender': 2,
  'id': 12891,
  'job': 'Screenplay',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f55',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Screenplay',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f5b',
  'department': 'Writing',
  'gender': 2,
  'id': 12892,
  'job': 'Screenplay',
  'name': 'Joel Cohen',
  'profile_path': '/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f61',
  'department': 'Writing',
  'gender': 0,
  'id': 12893,
  'job': 'Screenplay',
  'name': 'Alec Sokolow',
  'profile_path': '/v79vlRYi94BZUQnkkyznbGUZLjT.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f67',
  'department': 'Production',
  'gender': 1,
  'id': 12894,
  'job': 'Producer',
  'name': 'Bonnie Arnold',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f6d',
  'department': 'Production',
  'gender': 0,
  'id': 12895,
  'job': 'Executive Producer',
  'name': 'Ed Catmull',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f73',
  'department': 'Production',
  'gender': 2,
  'id': 12896,
  'job': 'Producer',
  'name': 'Ralph Guggenheim',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f79',
  'department': 'Production',
  'gender': 2,
  'id': 12897,
  'job': 'Executive Producer',
  'name': 'Steve Jobs',
  'profile_path': '/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f8b',
  'department': 'Editing',
  'gender': 2,
  'id': 8,
  'job': 'Editor',
  'name': 'Lee Unkrich',
  'profile_path': '/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f91',
  'department': 'Art',
  'gender': 2,
  'id': 7883,
  'job': 'Art Direction',
  'name': 'Ralph Eggleston',
  'profile_path': '/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg'},
 {'credit_id': '598331bf925141421201044b',
  'department': 'Editing',
  'gender': 2,
  'id': 1168870,
  'job': 'Editor',
  'name': 'Robert Gordon',
  'profile_path': None},
 {'credit_id': '5892168cc3a36809660095f9',
  'department': 'Sound',
  'gender': 0,
  'id': 1552883,
  'job': 'Foley Editor',
  'name': 'Mary Helen Leasman',
  'profile_path': None},
 {'credit_id': '5531824d9251415289000945',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1453514,
  'job': 'Animation',
  'name': 'Kim Blanchette',
  'profile_path': None},
 {'credit_id': '589215969251412dcb009bf6',
  'department': 'Sound',
  'gender': 0,
  'id': 1414182,
  'job': 'ADR Editor',
  'name': 'Marilyn McCoppen',
  'profile_path': None},
 {'credit_id': '589217099251412dc500a018',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Orchestrator',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5693e6b29251417b0e0000e3',
  'department': 'Editing',
  'gender': 0,
  'id': 1429549,
  'job': 'Color Timer',
  'name': 'Dale E. Grahn',
  'profile_path': None},
 {'credit_id': '572e2522c3a36869e6001a9c',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7949,
  'job': 'CG Painter',
  'name': 'Robin Cooper',
  'profile_path': None},
 {'credit_id': '574f12309251415ca1000012',
  'department': 'Writing',
  'gender': 2,
  'id': 7879,
  'job': 'Original Story',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '574f1240c3a3682e7300001c',
  'department': 'Writing',
  'gender': 2,
  'id': 12890,
  'job': 'Original Story',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '574f12519251415c92000015',
  'department': 'Writing',
  'gender': 0,
  'id': 7911,
  'job': 'Original Story',
  'name': 'Joe Ranft',
  'profile_path': '/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg'},
 {'credit_id': '574f12cec3a3682e82000022',
  'department': 'Crew',
  'gender': 0,
  'id': 1629419,
  'job': 'Post Production Supervisor',
  'name': 'Patsy Bouge',
  'profile_path': None},
 {'credit_id': '574f14f19251415ca1000082',
  'department': 'Art',
  'gender': 0,
  'id': 7961,
  'job': 'Sculptor',
  'name': 'Norm DeCarlo',
  'profile_path': None},
 {'credit_id': '5751ae4bc3a3683772002b7f',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 12905,
  'job': 'Animation Director',
  'name': 'Ash Brannon',
  'profile_path': '/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg'},
 {'credit_id': '5891edbe9251412dc5007cd6',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Music',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '589213d39251412dc8009832',
  'department': 'Directing',
  'gender': 0,
  'id': 1748707,
  'job': 'Layout',
  'name': 'Roman Figun',
  'profile_path': None},
 {'credit_id': '5892173dc3a3680968009351',
  'department': 'Sound',
  'gender': 2,
  'id': 4949,
  'job': 'Orchestrator',
  'name': 'Don Davis',
  'profile_path': None},
 {'credit_id': '589217cec3a3686b0a0052ba',
  'department': 'Sound',
  'gender': 0,
  'id': 1372885,
  'job': 'Music Editor',
  'name': 'James Flamberg',
  'profile_path': None},
 {'credit_id': '58921831c3a3686348004a64',
  'department': 'Editing',
  'gender': 0,
  'id': 1739962,
  'job': 'Negative Cutter',
  'name': 'Mary Beth Smith',
  'profile_path': None},
 {'credit_id': '58921838c3a36809700096c0',
  'department': 'Editing',
  'gender': 0,
  'id': 1748513,
  'job': 'Negative Cutter',
  'name': 'Rick Mackay',
  'profile_path': None},
 {'credit_id': '589218429251412dd1009d1b',
  'department': 'Art',
  'gender': 0,
  'id': 1458006,
  'job': 'Title Designer',
  'name': 'Susan Bradley',
  'profile_path': None},
 {'credit_id': '5891ed99c3a3680966007670',
  'department': 'Crew',
  'gender': 0,
  'id': 1748557,
  'job': 'Supervising Technical Director',
  'name': 'William Reeves',
  'profile_path': None},
 {'credit_id': '5891edcec3a3686b0a002eb2',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Songs',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5891edf9c3a36809700075e6',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Original Story',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58920f0b9251412dd7009104',
  'department': 'Crew',
  'gender': 2,
  'id': 12890,
  'job': 'Supervising Animator',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '58920f1fc3a3680977009021',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Designer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '58920f389251412dd700912d',
  'department': 'Production',
  'gender': 0,
  'id': 12909,
  'job': 'Production Supervisor',
  'name': 'Karen Robert Jackson',
  'profile_path': None},
 {'credit_id': '58920fbd9251412dcb00969c',
  'department': 'Crew',
  'gender': 0,
  'id': 953331,
  'job': 'Executive Music Producer',
  'name': 'Chris Montan',
  'profile_path': None},
 {'credit_id': '589210069251412dd7009219',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7893,
  'job': 'Animation Director',
  'name': 'Rich Quade',
  'profile_path': None},
 {'credit_id': '589210329251412dcd00943b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8025,
  'job': 'Animation',
  'name': 'Michael Berenstein',
  'profile_path': None},
 {'credit_id': '5892103bc3a368096a009180',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 78009,
  'job': 'Animation',
  'name': 'Colin Brady',
  'profile_path': None},
 {'credit_id': '5892105dc3a3680968008db2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748682,
  'job': 'Animation',
  'name': 'Davey Crockett Feiten',
  'profile_path': None},
 {'credit_id': '589210669251412dcd009466',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454030,
  'job': 'Animation',
  'name': 'Angie Glocka',
  'profile_path': None},
 {'credit_id': '5892107c9251412dd1009613',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748683,
  'job': 'Animation',
  'name': 'Rex Grignon',
  'profile_path': None},
 {'credit_id': '5892108ac3a3680973008d3f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748684,
  'job': 'Animation',
  'name': 'Tom K. Gurney',
  'profile_path': None},
 {'credit_id': '58921093c3a3686348004477',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 8029,
  'job': 'Animation',
  'name': 'Jimmy Hayward',
  'profile_path': '/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg'},
 {'credit_id': '5892109b9251412dcd0094b0',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1426773,
  'job': 'Animation',
  'name': 'Hal T. Hickel',
  'profile_path': None},
 {'credit_id': '589210a29251412dc5009a29',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8035,
  'job': 'Animation',
  'name': 'Karen Kiser',
  'profile_path': None},
 {'credit_id': '589210ccc3a3680977009191',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748688,
  'job': 'Animation',
  'name': 'Anthony B. LaMolinara',
  'profile_path': None},
 {'credit_id': '589210d7c3a3686b0a004c1f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 587314,
  'job': 'Animation',
  'name': 'Guionne Leroy',
  'profile_path': None},
 {'credit_id': '589210e1c3a36809770091a7',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Animation',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '589210ee9251412dc200978a',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748689,
  'job': 'Animation',
  'name': 'Les Major',
  'profile_path': None},
 {'credit_id': '589210fa9251412dc8009595',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7892,
  'job': 'Animation',
  'name': 'Glenn McQueen',
  'profile_path': None},
 {'credit_id': '589211029251412dc8009598',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 555795,
  'job': 'Animation',
  'name': 'Mark Oftedal',
  'profile_path': None},
 {'credit_id': '5892110b9251412dc800959d',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7882,
  'job': 'Animation',
  'name': 'Jeff Pidgeon',
  'profile_path': '/yLddkg5HcgbJg00cS13GVBnP0HY.jpg'},
 {'credit_id': '58921113c3a36863480044e4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8017,
  'job': 'Animation',
  'name': 'Jeff Pratt',
  'profile_path': None},
 {'credit_id': '5892111c9251412dcb0097e9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1184140,
  'job': 'Animation',
  'name': 'Steve Rabatich',
  'profile_path': None},
 {'credit_id': '58921123c3a36809700090f6',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8049,
  'job': 'Animation',
  'name': 'Roger Rose',
  'profile_path': None},
 {'credit_id': '5892112b9251412dcb0097fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1509559,
  'job': 'Animation',
  'name': 'Steve Segal',
  'profile_path': None},
 {'credit_id': '589211349251412dc80095c3',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748691,
  'job': 'Animation',
  'name': 'Doug Sheppeck',
  'profile_path': None},
 {'credit_id': '5892113cc3a3680970009106',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8050,
  'job': 'Animation',
  'name': 'Alan Sperling',
  'profile_path': None},
 {'credit_id': '58921148c3a3686b0a004c99',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8010,
  'job': 'Animation',
  'name': 'Doug Sweetland',
  'profile_path': None},
 {'credit_id': '58921150c3a3680966009125',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8044,
  'job': 'Animation',
  'name': 'David Tart',
  'profile_path': None},
 {'credit_id': '589211629251412dc5009b00',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454034,
  'job': 'Animation',
  'name': 'Ken Willard',
  'profile_path': None},
 {'credit_id': '589211c1c3a3686b0a004d28',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7887,
  'job': 'Visual Effects Supervisor',
  'name': 'Thomas Porter',
  'profile_path': None},
 {'credit_id': '589211d4c3a3680968008ed9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1406878,
  'job': 'Visual Effects',
  'name': 'Mark Thomas Henne',
  'profile_path': None},
 {'credit_id': '589211f59251412dd4008e65',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748698,
  'job': 'Visual Effects',
  'name': 'Oren Jacob',
  'profile_path': None},
 {'credit_id': '58921242c3a368096a00939b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748699,
  'job': 'Visual Effects',
  'name': 'Darwyn Peachey',
  'profile_path': None},
 {'credit_id': '5892124b9251412dc5009bd2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748701,
  'job': 'Visual Effects',
  'name': 'Mitch Prater',
  'profile_path': None},
 {'credit_id': '58921264c3a3686b0a004dbf',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748703,
  'job': 'Visual Effects',
  'name': 'Brian M. Rosen',
  'profile_path': None},
 {'credit_id': '589212709251412dcd009676',
  'department': 'Lighting',
  'gender': 1,
  'id': 12912,
  'job': 'Lighting Supervisor',
  'name': 'Sharon Calahan',
  'profile_path': None},
 {'credit_id': '5892127fc3a3686b0a004de5',
  'department': 'Lighting',
  'gender': 0,
  'id': 7899,
  'job': 'Lighting Supervisor',
  'name': 'Galyn Susman',
  'profile_path': None},
 {'credit_id': '589212cdc3a3680970009268',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'CG Painter',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892130f9251412dc8009791',
  'department': 'Art',
  'gender': 0,
  'id': 1748705,
  'job': 'Sculptor',
  'name': 'Shelley Daniels Lekven',
  'profile_path': None},
 {'credit_id': '5892131c9251412dd4008f4c',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7889,
  'job': 'Character Designer',
  'name': 'Bob Pauley',
  'profile_path': None},
 {'credit_id': '589213249251412dd100987b',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Character Designer',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '5892132b9251412dc80097b1',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7,
  'job': 'Character Designer',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58921332c3a368634800467b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'Character Designer',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892135f9251412dd4008f90',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748706,
  'job': 'Character Designer',
  'name': 'Steve Johnson',
  'profile_path': None},
 {'credit_id': '58921384c3a3680973008fd4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1176752,
  'job': 'Character Designer',
  'name': 'Dan Haskett',
  'profile_path': None},
 {'credit_id': '5892138e9251412dc20099fc',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1088034,
  'job': 'Character Designer',
  'name': 'Tom Holloway',
  'profile_path': '/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg'},
 {'credit_id': '58921395c3a368097700942f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1447465,
  'job': 'Character Designer',
  'name': 'Jean Gillmore',
  'profile_path': None},
 {'credit_id': '589213e2c3a3680973009026',
  'department': 'Directing',
  'gender': 0,
  'id': 1748709,
  'job': 'Layout',
  'name': 'Desirée Mourad',
  'profile_path': None},
 {'credit_id': '589214099251412dc5009d57',
  'department': 'Art',
  'gender': 0,
  'id': 1748710,
  'job': 'Set Dresser',
  'name': "Kelly O'Connell",
  'profile_path': None},
 {'credit_id': '58921411c3a3686b0a004f70',
  'department': 'Art',
  'gender': 0,
  'id': 1443471,
  'job': 'Set Dresser',
  'name': 'Sonoko Konishi',
  'profile_path': None},
 {'credit_id': '58921434c3a368096a00956e',
  'department': 'Art',
  'gender': 0,
  'id': 1748711,
  'job': 'Set Dresser',
  'name': 'Ann M. Rockwell',
  'profile_path': None},
 {'credit_id': '5892144ac3a36809680090de',
  'department': 'Editing',
  'gender': 0,
  'id': 1748712,
  'job': 'Editorial Manager',
  'name': 'Julie M. McDonald',
  'profile_path': None},
 {'credit_id': '58921479c3a368096800910f',
  'department': 'Editing',
  'gender': 0,
  'id': 1589729,
  'job': 'Assistant Editor',
  'name': 'Robin Lee',
  'profile_path': None},
 {'credit_id': '5892148b9251412dd10099cc',
  'department': 'Editing',
  'gender': 0,
  'id': 1748716,
  'job': 'Assistant Editor',
  'name': 'Tom Freeman',
  'profile_path': None},
 {'credit_id': '589214959251412dcb009b1f',
  'department': 'Editing',
  'gender': 0,
  'id': 1748717,
  'job': 'Assistant Editor',
  'name': 'Ada Cochavi',
  'profile_path': None},
 {'credit_id': '5892149ec3a3686348004798',
  'department': 'Editing',
  'gender': 0,
  'id': 1336438,
  'job': 'Assistant Editor',
  'name': 'Dana Mulligan',
  'profile_path': None},
 {'credit_id': '589214adc3a368096a0095db',
  'department': 'Editing',
  'gender': 0,
  'id': 1748718,
  'job': 'Editorial Coordinator',
  'name': 'Deirdre Morrison',
  'profile_path': None},
 {'credit_id': '589214c7c3a368097700952b',
  'department': 'Production',
  'gender': 0,
  'id': 1748719,
  'job': 'Production Coordinator',
  'name': 'Lori Lombardo',
  'profile_path': None},
 {'credit_id': '589214cec3a368096a009603',
  'department': 'Production',
  'gender': 0,
  'id': 1748720,
  'job': 'Production Coordinator',
  'name': 'Ellen Devine',
  'profile_path': None},
 {'credit_id': '589214e39251412dc8009904',
  'department': 'Crew',
  'gender': 0,
  'id': 1468014,
  'job': 'Unit Publicist',
  'name': 'Lauren Beth Strogoff',
  'profile_path': None},
 {'credit_id': '58921544c3a3686b0a00507d',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '5892154c9251412dd1009a56',
  'department': 'Sound',
  'gender': 0,
  'id': 1425978,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Summers',
  'profile_path': None},
 {'credit_id': '58921555c3a36809680091bd',
  'department': 'Sound',
  'gender': 2,
  'id': 8276,
  'job': 'Supervising Sound Editor',
  'name': 'Tim Holland',
  'profile_path': None},
 {'credit_id': '589215c39251412dcb009c12',
  'department': 'Sound',
  'gender': 0,
  'id': 7069,
  'job': 'Sound Effects Editor',
  'name': 'Pat Jackson',
  'profile_path': None},
 {'credit_id': '58921698c3a368096a009788',
  'department': 'Crew',
  'gender': 2,
  'id': 15894,
  'job': 'Sound Design Assistant',
  'name': 'Tom Myers',
  'profile_path': None},
 {'credit_id': '589216a89251412dc2009ca4',
  'department': 'Sound',
  'gender': 0,
  'id': 1414177,
  'job': 'Assistant Sound Editor',
  'name': 'J.R. Grubbs',
  'profile_path': None},
 {'credit_id': '589216c19251412dc2009cb9',
  'department': 'Sound',
  'gender': 1,
  'id': 1748724,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Sanford',
  'profile_path': None},
 {'credit_id': '589216ccc3a3680973009274',
  'department': 'Sound',
  'gender': 0,
  'id': 1748725,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Popovic',
  'profile_path': None},
 {'credit_id': '589216d79251412dc8009aa0',
  'department': 'Sound',
  'gender': 0,
  'id': 8067,
  'job': 'Assistant Sound Editor',
  'name': 'Dan Engstrom',
  'profile_path': None},
 {'credit_id': '589216e49251412dcd009a4f',
  'department': 'Production',
  'gender': 1,
  'id': 7902,
  'job': 'Casting Consultant',
  'name': 'Ruth Lambert',
  'profile_path': None},
 {'credit_id': '589216f39251412dc2009cf3',
  'department': 'Production',
  'gender': 0,
  'id': 84493,
  'job': 'ADR Voice Casting',
  'name': 'Mickie McGowan',

#### Pull Directors

In [350]:
# directors
credits_df["director"] = credits_df["crew"].apply(lambda x: "" if not x else x[0]["name"])

In [351]:
director_counts = credits_df["director"].value_counts()
credits_df["count"] = credits_df["director"].apply(lambda x: director_counts.loc[x])

In [352]:
credits_df.loc[(credits_df["count"] < 10), "director"] = ""

In [353]:
credits_df.head(3)

,cast,crew,id,director,count
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,John Lasseter,29
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,,5
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,,6

In [354]:
credits_df["director"].value_counts()

                   35993
Avy Kaufman          124
Ennio Morricone       81
Suzanne Smith         69
Roger Corman          66
                   ...
Ted J. Kent           10
Neri Parenti          10
Marcel Pagnol         10
John Pilger           10
Ken Burns             10
Name: director, Length: 557, dtype: int64

#### Pull actors

In [355]:
def return_actors(x):
    actors = []
    i = 0
    while (i < 3 and i < len(x)):
        actors.append(x[i]["name"])
        i+=1
    return actors

credits_df["actors"] = credits_df["cast"].apply(lambda x: return_actors(x))

In [356]:
# actor_set = set()
# for i, r in credits_df.iterrows():
#     for a in r["actors"]:
#         actor_set.add(a)
# print(len(actor_set))

In [357]:
credits_df = credits_df[["id", "director", "actors"]]
credits_df.head()

      id        director                                             actors
0    862   John Lasseter                [Tom Hanks, Tim Allen, Don Rickles]
1   8844                     [Robin Williams, Jonathan Hyde, Kirsten Dunst]
2  15602                         [Walter Matthau, Jack Lemmon, Ann-Margret]
3  31357                  [Whitney Houston, Angela Bassett, Loretta Devine]
4  11862  Alan Silvestri         [Steve Martin, Diane Keaton, Martin Short]

### Process Keywords df

In [358]:
keywords_df.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [359]:
# convert keywords to keywords list
keywords_df["keywords"] = keywords_df["keywords"].apply(lambda x: [i["name"] for i in x])

## Join dataframes to a Final df

In [360]:
keywords_df.shape

(46419, 2)

In [361]:
credits_df.shape

(45476, 3)

In [362]:
movies_df.shape

(7440, 15)

In [363]:
# join movies and keywords
joined = movies_df.join(keywords_df, on="id", lsuffix="", rsuffix="_to_del").drop("id_to_del", axis=1)

In [364]:
joined.head()

,budget,genres,id,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,tagline,title,vote_average,vote_count,keywords
0,30000000.0,"[Animation, Comedy, Family]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,1995,373554033.0,81.0,,Toy Story,7.7,5415.0,[]
1,65000000.0,"[Adventure, Fantasy, Family]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures,1995,262797249.0,104.0,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[spy, father son relationship, traitor, murder..."
2,0.0,"[Romance, Comedy]",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,Warner Bros.,1995,0.0,101.0,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,[sport]
4,0.0,[Comedy],11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions,1995,76578911.0,106.0,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[sex, lasergun, beautiful woman, female protag..."
5,60000000.0,"[Action, Crime, Drama, Thriller]",949,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,Regency Enterprises,1995,187436818.0,170.0,A Los Angeles Crime Saga,Heat,7.7,1886.0,"[italy, nurse, love letter, officer, priest, e..."

In [365]:
# join movies (joined) and credits
joined = joined.join(credits_df, on="id", lsuffix="", rsuffix="_to_del").drop("id_to_del", axis=1)

In [366]:
joined.head()

,budget,genres,id,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,tagline,title,vote_average,vote_count,keywords,director,actors
0,30000000.0,"[Animation, Comedy, Family]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,1995,373554033.0,81.0,,Toy Story,7.7,5415.0,[],,"[Ad van Kempen, Ariane Schluter]"
1,65000000.0,"[Adventure, Fantasy, Family]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures,1995,262797249.0,104.0,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[spy, father son relationship, traitor, murder...",,"[Henry Thomas, Dabney Coleman, Michael Murphy]"
2,0.0,"[Romance, Comedy]",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,Warner Bros.,1995,0.0,101.0,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,[sport],,"[María Ester Escobar, Francisco Maturana, Alex..."
4,0.0,[Comedy],11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions,1995,76578911.0,106.0,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[sex, lasergun, beautiful woman, female protag...",John Barry,"[Marjoe Gortner, Caroline Munro, Christopher P..."
5,60000000.0,"[Action, Crime, Drama, Thriller]",949,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,Regency Enterprises,1995,187436818.0,170.0,A Los Angeles Crime Saga,Heat,7.7,1886.0,"[italy, nurse, love letter, officer, priest, e...",Charles Lang,"[Helen Hayes, Gary Cooper, Adolphe Menjou]"

In [367]:
# handle director nans
joined["director"].fillna("", inplace=True)

In [368]:
# save joined df
# joined.to_csv("joined.csv")

## Movie indexes df

In [369]:
movie_indexes = pd.DataFrame(data={"title": joined["original_title"]})
movie_indexes.head()

                         title
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
4  Father of the Bride Part II
5                         Heat

In [370]:
movie_indexes.loc[movie_indexes["title"] == "Toy Story"]

       title
0  Toy Story

In [371]:
movie_indexes["title"].str.contains("Toy Story").any()

True

# Prepare Final Data

## 1) One Hot Encodings of lists

### Genres

In [372]:
genres_df = joined["genres"].str.join("|").str.get_dummies()
genres_df.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0

In [373]:
genres_df.shape

(7440, 20)

In [374]:
genres_vec = csr_matrix(genres_df)

In [375]:
genres_vec

<7440x20 sparse matrix of type '<class 'numpy.int64'>'
	with 18815 stored elements in Compressed Sparse Row format>

In [376]:
joined.drop("genres", axis=1, inplace=True)

### Actors

In [ ]:
actors_df = joined["actors"].str.join("|").str.get_dummies()
actors_df.head()

In [103]:
joined["actors"].str.join("|").str.get_dummies()

KeyboardInterrupt:

In [377]:
joined.drop("actors", axis=1, inplace=True)

## 2) Vectorizations

### info = tagline + overview + keywords

In [378]:
info_df = joined["tagline"] + " " + joined["overview"] + " " + joined["keywords"].str.join(" ").fillna("")

In [379]:
info_df.head()

0     Led by Woody, Andy's toys live happily in his...
1    Roll the dice and unleash the excitement! When...
2    Still Yelling. Still Fighting. Still Ready for...
4    Just When His World Is Back To Normal... He's ...
5    A Los Angeles Crime Saga Obsessive master thie...
dtype: object

In [380]:
cv = CountVectorizer(stop_words="english")
info_vec = cv.fit_transform(info_df)

In [381]:
info_vec

<7440x28455 sparse matrix of type '<class 'numpy.int64'>'
	with 241665 stored elements in Compressed Sparse Row format>

In [382]:
joined.drop(["tagline", "overview", "keywords"], axis=1, inplace=True)

## 3) Normalizations and One Hot Encodings for categories

### Split data before normalizations

In [383]:
X_df = joined.drop(["id", "title", "original_title"], axis=1)
y_df = joined.loc[:, ["id", "title", "original_title"]]

In [384]:
X_df.head()

,budget,original_language,popularity,production_companies,release_date,revenue,runtime,vote_average,vote_count,director
0,30000000.0,en,21.946943,Pixar Animation Studios,1995,373554033.0,81.0,7.7,5415.0,
1,65000000.0,en,17.015539,TriStar Pictures,1995,262797249.0,104.0,6.9,2413.0,
2,0.0,en,11.712900,Warner Bros.,1995,0.0,101.0,6.5,92.0,
4,0.0,en,8.387519,Sandollar Productions,1995,76578911.0,106.0,5.7,173.0,John Barry
5,60000000.0,en,17.924927,Regency Enterprises,1995,187436818.0,170.0,7.7,1886.0,Charles Lang

In [385]:
y_df.head()

      id                        title               original_title
0    862                    Toy Story                    Toy Story
1   8844                      Jumanji                      Jumanji
2  15602             Grumpier Old Men             Grumpier Old Men
4  11862  Father of the Bride Part II  Father of the Bride Part II
5    949                         Heat                         Heat

In [386]:
y = y_df["title"].reset_index().drop("index", axis=1)

In [387]:
y

                            title
0                       Toy Story
1                         Jumanji
2                Grumpier Old Men
3     Father of the Bride Part II
4                            Heat
...                           ...
7435             The Double Lover
7436     Minions: Orientation Day
7437                Descendants 2
7438                Force Majeure
7439               In a Heartbeat

[7440 rows x 1 columns]

### ColumnTransformer

In [388]:
categorical_indexes = [1, 3, 9]
numerical_indexes = [0, 2, 4, 5, 6, 7, 8]

In [389]:
preprocess = ColumnTransformer(transformers=[
                                ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_indexes),
                                ("num", MinMaxScaler(), numerical_indexes)])

X_vec = preprocess.fit_transform(X_df)

In [390]:
X_vec

<7440x2690 sparse matrix of type '<class 'numpy.float64'>'
	with 68002 stored elements in Compressed Sparse Row format>

# Join All Vectorized Sparse Data Matrices

### Matrices = [X_vec, genres_vec, info_vec]

In [449]:
final_vec = csc_matrix(hstack((X_vec, genres_vec, info_vec)))

In [450]:
final_vec = normalize(final_vec, norm="l2", axis=1)

In [451]:
final_vec

<7440x31165 sparse matrix of type '<class 'numpy.float64'>'
	with 328482 stored elements in Compressed Sparse Row format>

## Save Sparse Info Matrix and Titles df

In [467]:
save_npz("X_data.npz", final_vec)
y.to_csv("y_data.csv", index=False)

# LOAD FINAL DATA

In [2]:
final_vec = load_npz("X_data.npz")

In [5]:
final_vec

<7440x31165 sparse matrix of type '<class 'numpy.float64'>'
	with 328482 stored elements in Compressed Sparse Row format>

In [3]:
y = pd.read_csv("y_data.csv")

In [7]:
y.head()

                         title
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3  Father of the Bride Part II
4                         Heat

# Create The Model

In [8]:
# fit the model
knn = KNeighborsClassifier().fit(final_vec, y.values.ravel())

### Functions

In [29]:
def get_similar_movies(movie_name, X, y, knn, n_movies=10):
    index = y.loc[y["title"].str.lower() == movie_name].index[0]
    movie_data = X[index, :].toarray()
    distances, indices = knn.kneighbors(movie_data, n_neighbors=n_movies+1)
    
    movies = []
    for i in np.squeeze(indices):
        movie = y.iloc[i]["title"]
        movies.append(movie)
    
    return movies[1:]

In [43]:
def main(X, y, knn):
    run = True
    while run:
        movie_name = input("\nEnter movie name to find similar movies (q to quit): ")
        
        if movie_name == "q":
            run = False
            continue
        
        movie_name = movie_name.lower()
        
        # name is in dataset
        if movie_name in y["title"].str.lower().values:
            n_movies = int(input("How many similar movies (integer): "))
            movies = get_similar_movies(movie_name, X, y, knn, n_movies=n_movies)
            
            # inform user
            print("\nSimilar Movies:")
            for i, movie in enumerate(movies):
                print(str(i+1) + ". " + movie)
        
        # some movie names contains searched movie name
        elif y["title"].str.lower().str.contains(movie_name).any():
            similar_names = y[y["title"].str.lower().str.contains(movie_name)].values.ravel()
            # print similar names
            #similar_names_function()
            print("Movie: \"{}\" is not founded!".format(movie_name))
            print("Similar Movie Names you can look:")
            for i, movie in enumerate(similar_names):
                print(str(i+1) + ". " + movie)
        
        # not founded at all
        else:
            print("Movie: \"{}\" or a similar movie name is not founded!".format(movie_name))
            print("Try Again.")

In [ ]:
main(final_vec, y, knn)

Enter movie name to find similar movies (q to quit): the inception
Movie: "the inception" or a similar movie name is not founded!
Try Again.


Enter movie name to find similar movies (q to quit): inception
How many similar movies (integer): 10

Similar Movies:
1. X-Men Origins: Wolverine
2. Doctor Strange
3. Mission: Impossible - Rogue Nation
4. Abduction
5. Morgan
6. The Fifth Element
7. The Hunger Games: Mockingjay - Part 1
8. Guardians of the Galaxy Vol. 2
9. X-Men: The Last Stand
10. Guardians of the Galaxy

Enter movie name to find similar movies (q to quit): klaus
Movie: "klaus" or a similar movie name is not founded!
Try Again.


Enter movie name to find similar movies (q to quit): claus
Movie: "claus" is not founded!
Similar Movie Names you can look:
1. The Santa Clause
2. Santa Claus: The Movie
3. Santa Claus Is a Stinker
4. The Santa Claus Gang

Enter movie name to find similar movies (q to quit): pokemon
Movie: "pokemon" or a similar movie name is not founded!
Try Again.


Enter movie name to find similar movies (q to quit): sherlock
Movie: "sherlock" is not founded!
Similar Movie Names you can look:
1. Young Sherlock Holmes
2. The Private Life of Sherlock Holmes
3. Sherlock, Jr.
4. Sherlock Holmes
5. Sherlock Holmes: A Game of Shadows

Enter movie name to find similar movies (q to quit): Sherlock Holmes
How many similar movies (integer): 10

Similar Movies:
1. Sherlock Holmes: A Game of Shadows
2. Without a Clue
3. Sabotage
4. Young Detective Dee: Rise of the Sea Dragon
5. The Private Life of Sherlock Holmes
6. Young Sherlock Holmes
7. Laura
8. Tracers
9. Guardians of the Galaxy Vol. 2
10. Welcome to the Punch

In [ ]:
movie_name = "Life Is Beautiful"
index = y.loc[y["title"] == movie_name].index[0]
movie_data = final_vec[index, :].toarray()
distances, indices = knn.kneighbors(movie_data, n_neighbors=10)

movies = []
for i in np.squeeze(indices):
    movie = y.iloc[i]["title"]
    movies.append(movie)

In [24]:
"Toy Story" in y["title"].values

True

In [37]:
y[y["title"].str.contains("Life Is")]

                           title
1014           Life Is Beautiful
3158  Life Is a Long Quiet River

In [22]:
movie_name = "sherlock holmes"
y[y["title"].str.lower().str.contains(movie_name.lower())]

                                    title
1071                Young Sherlock Holmes
2513  The Private Life of Sherlock Holmes
4504                      Sherlock Holmes
5067   Sherlock Holmes: A Game of Shadows

In [494]:
movie_name = "Life Is Beautiful"
index = y.loc[y["title"] == movie_name].index[0]
movie_data = final_vec[index, :].toarray()
distances, indices = knn.kneighbors(movie_data, n_neighbors=10)

movies = []
for i in np.squeeze(indices):
    movie = y.iloc[i]["title"]
    movies.append(movie)

In [495]:
y.iloc[5]["title"]

'Sabrina'

In [497]:
movies

['Life Is Beautiful',
 "Schindler's List",
 "Cassandra's Dream",
 'The Counterfeiters',
 'Testament of Youth',
 'Loose Cannons',
 'The Tiger and the Snow',
 'Little Boy',
 'Caramel',
 'Pinocchio']

In [481]:
distances

array([[2.35608046e-08, 1.19987548e+00, 1.20360661e+00, 1.20751940e+00,
        1.21622850e+00, 1.22769919e+00, 1.22829567e+00, 1.22978085e+00,
        1.23110785e+00, 1.23146207e+00]])

In [477]:
indices

array([[1014,  241, 4010, 4043, 6456, 4952, 3675, 6536, 4026, 2392]],
      dtype=int64)

In [260]:
index

0

In [284]:
final_vec[0, :].toarray()

array([[0., 0., 0., ..., 0., 0., 0.]])